html, body {
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 99%;
}
.cards{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    width: 30rem;
    height: 42rem;
    border-radius: 10%;
}
.seed1{
    align-self: flex-start;
    text-align: center;
    font-size: 8rem;    
    width: 9rem;
    height: 9rem;
}
.numero{
    text-align: center;
    font-size: 15rem;
}
.seed2{
    align-self: flex-end;
    text-align: center;
    font-size: 8rem;
    width: 9rem;
    height: 9rem;
}